<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Software Engineering Lab</a>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-center">
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/staff">Faculty and Staff</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Program Placeholder 1</a>
                    </li>
                    <li>
                        <a href="#">Program Placeholder 2</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Research<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/graduate">Graduate Research</a>
                    </li>
                    <li>
                        <a href="/undergraduate">Undergraduate Research</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Resource Placeholder 1</a>
                    </li>
                    <li>
                        <a href="#">Resource Placeholder 2</a>
                    </li>
                </ul>
            </li>
            
        </ul>
        <ul class="navbar-right">
            <%= link_to image_tag('title_univ.png', height:'50') + " ", "http://www.u-aizu.ac.jp/e-index.html" %>
        </ul>
    </div>
    
    <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>