<!-- Navigation -->
<style type="text/css">
    .navbar-right{
        overflow: hidden;
    }

</style>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Software Engineering Lab</a>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigationbar">
        <ul class="nav navbar-nav navbar-center">

            <div class="navbar-right">
            <%= link_to image_tag('title_univ.png', height:'50') + " ", "http://www.u-aizu.ac.jp/e-index.html" %>
            </div>

            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/staff">Faculty and Staff</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Research<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/graduate">Graduate Research</a>
                    </li>
                    <li>
                        <a href="/undergraduate">Undergraduate Research</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="http://www.codecademy.com/">Code Academy</a>
                    </li>
                    <li>
                        <a href="http://stackoverflow.com/">Stack Overflow</a>
                    </li>
                    <li>
                        <a href="https://www.khanacademy.org/computing/">Khan Academy</a>
                    </li>
                </ul>
            </li>
            <div class="col-md-4" style="width:300px"></div>
        </ul>
        
        
    </div>

    
    
    <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>