<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About Us</title>

</head>

<body>

    <%= render 'partials/navbar_jp' %>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">について
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/jp/">ホームページ</a>
                    </li>
                    <li class="active">について</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/IMG_6975.JPG" style="width:100%">
            </div>
            <div class="col-md-6">
                <h2>についてソフトウェアエンジニアリングラボ</h2>
                <p>ソフトウェアエンジニアリングラボ (SEL) ここで会津大学では技術革新の頂点です。多くのプロジェクトは、大学院と （本科） 一覧表、生徒が成長し、ソフトウェア エンジニア リング分野の発展を促進しながら学習することがあります。賛美私たち過去の成功をしのぐしようとすると、ソフトウェア エンジニア リングの最善の戦略と慣行を開発する業界のリーダーと一緒に働いております。</p>
                <p>会津大学は、ソフトウェア エンジニア リングおよび大学コンピュータ サイエンス 1993 年に設立され、最初の 1 つのこれらのフィールドに特化する国。SEL 早い 2000 年に確立され、SEL、真にグローバルで共同の努力を作る多くの尊敬のスタッフと、世界中から教員を集めています。 </p>
            </div>
        </div>
        <!-- /.row -->

        

        <hr>

        <!-- Footer -->
        <%= render 'partials/copyright' %>

    </div>
    <!-- /.container -->

</body>

</html>
