<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UoA: Software Engineering Lab</title>

</head>

<body>

    <%= render "partials/navbar_jp" %>

    <%= render "partials/carousel_jp" %>

    <!-- Page Content -->
    <div class="container">


        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">現在の研究プロジェクト</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/research-post">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450&text=Project+1" alt="Project 1">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/research-post">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450&text=Project+2" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/research-post">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450&text=Project+3" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">私たちの研究室は、「最先端の」！</h2>
            </div>
            <div class="col-md-6">
                <p>ソフトウェアエンジニアリングラボ含まれています:</p>
                <ul>
                    <li>ラップトップおよびデスクトップ</li>
                    <li>椅子 ！</li>
                    <li>品数ドリンクバー</li>
                    <li>サーバー</li>
                    <li>ウィンドウおよびセントラル ・ ヒーティング システム</li>
                    <li><strong>若者の心を未来を切り開く</strong></li>
                </ul>
                <p>我々 は、ソフトウェア エンジニア リングの世界に価値があり、重要な影響を確認する必要があるすべての設備がある!</p>
            </div>
            <div class="col-md-6">
                <img src="/assets/IMG_6980.JPG" style="width:100%">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>私たちの現在のプロジェクトおよび研究に関する質問があるか何が私達をちょうどとてもとても素晴らしいですか？</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="/contact">お問い合わせください</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <%= render 'partials/copyright' %>

    </div>

</body>

</html>
