<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UoA: Software Engineering Lab</title>

</head>

<body>

    <%= render "partials/navbar" %>

    <%= render "partials/carousel" %>

    <!-- Page Content -->
    <div class="container">


        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Current Research Projects</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/research-post">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450&text=Project+1" alt="Project 1">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/research-post">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450&text=Project+2" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/research-post">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450&text=Project+3" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Lab is "State of the Art"!</h2>
            </div>
            <div class="col-md-6">
                <p>The Software Engineering Lab includes:</p>
                <ul>
                    <li>Laptops and desktops</li>
                    <li>Chairs!</li>
                    <li>A fully stocked drink bar</li>
                    <li>Servers</li>
                    <li>Windows and central heating system</li>
                    <li><strong>Young minds to pave the future</strong></li>
                </ul>
                <p>We have all the amenities you need to make a worthwhile and significant impact on the world of software engineering!</p>
            </div>
            <div class="col-md-6">
                <img src="/assets/IMG_6980.JPG" style="width:100%">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Have any questions regarding our current projects and research, or what makes us just so darn awesome?</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="/contact">Ask Us!</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <%= render 'partials/copyright' %>

    </div>

</body>

</html>
