<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


</head>

<body>

     <%= render "partials/navbar" %>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">大学生の研究プロジェクト
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/jp/">ホームページ</a>
                    </li>
                    <li class="active">大学生の研究
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-12">

                <!-- First Blog Post -->
                <h2>
                    <a href="/jp/research-post">Undergraduate Project 1</a>
                </h2>
                <p class="lead">
                    by <a href="/jp/staff">Corey Vatter</a>
                </p>
                <hr>
                <a href="/jp/research-post">
                    <img class="img-responsive img-hover" src="http://placehold.it/900x300&text=Project+1" alt="">
                </a>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
                <a class="btn btn-primary" href="/jp/research-post">Read More <i class="fa fa-angle-right"></i></a>

                <hr>

                 <!-- First Blog Post -->
                <h2>
                    <a href="/jp/research-post">Undergraduate Project 2</a>
                </h2>
                <p class="lead">
                    by <a href="/jp/staff">Corey Vatter</a>
                </p>
                <hr>
                <a href="/jp/research-post">
                    <img class="img-responsive img-hover" src="http://placehold.it/900x300&text=Project+2" alt="">
                </a>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
                <a class="btn btn-primary" href="/jp/research-post">Read More <i class="fa fa-angle-right"></i></a>

                <hr>

                 <!-- First Blog Post -->
                <h2>
                    <a href="/jp/research-post">Undergraduate Project 3</a>
                </h2>
                <p class="lead">
                    by <a href="/jp/staff">Corey Vatter</a>
                </p>
                <hr>
                <a href="/jp/research-post">
                    <img class="img-responsive img-hover" src="http://placehold.it/900x300&text=Project+3" alt="">
                </a>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
                <a class="btn btn-primary" href="/jp/research-post">Read More <i class="fa fa-angle-right"></i></a>

                <hr>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; 古い</a>
                    </li>
                    <li class="next">
                        <a href="#">新しい &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <!-- <div class="col-md-4">
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>                </div>
            </div> -->

        </div>
        <!-- /.row -->

        <hr>

        <%= render "partials/copyright" %>

    </div>
    <!-- /.container -->
</body>

</html>
